@use '../../partials/globals' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.team {
  &__header{
    margin-top: 54px;
  }

  &__headerSub1 {
    height: 182px;
    display: flex;
    padding-left: 25px;
    align-items: center;
  }

  &__logo {
    height: 140px;
    margin-right: 20px;
  }

  &__nameDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    @include teamName;
    margin: 0;
  }

  &__headerSub2 {
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__searchLabel {
    @include formLabel
  }

  &__search {
    height: 34px;
    width: 220px;
    border-radius: 25px;
    padding-left: 42px;
  }

  &__searchIcon {
    position: absolute;
    right: 61%;
  }

  &__cardsDiv {
    padding: 26px 26px;
    display: flex;
    flex-wrap: wrap;
  }

  &__player {
    // height: 249px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__playerPic {
    width: 100%;
  }

  &__playerName {
    margin: 0;
    margin-top: 16px;
    margin-bottom: 5px;
    @include smallName
  }

  &__playerInfo {
    margin: 0;
    margin-bottom: 16px;
    @include smallInfo
  }

  &__playerButton {
    width: 60%;
    height: 28px;
    border-style: none;
    border-radius: 5px;

    font-family: Helvetica;
    font-weight: 600;
    font-size: 0.6875;
    color: white;
  }
}