@use './variables' as *;

@mixin playerName {
  font-family: Helvetica;
  font-weight: 800;
  font-style: normal;
  font-size: 2.6875rem;
  color: white;
}

@mixin playerPosition {
  font-family: Helvetica;
  font-weight: 500;
  font-style: normal;
  font-size: 1.3125rem;
  color: white;
}

@mixin button {
  font-family: Helvetica;
  font-weight: 800;
  font-size: 1.125rem;
  color: white;
} 

@mixin playerNumber {
  font-family: Helvetica;
  font-weight: 600;
  font-size: 62px;
  // color: rgba($color: #ffffff, $alpha: 0.3);
}

@mixin stats1title {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1.125rem;
  color: white;
}

@mixin stats1value {
  font-family: Helvetica;
  font-weight: 700;
  font-size: 1.125rem;
  color: white;
}

@mixin stats2text {
  font-family: Helvetica;
  font-weight: 500;
  font-size: 1.125rem;
  color: white;
}