// NBA
$NBA-Blue: #1D428A;
$NBA-Red: #C8102E;
$NBA-White: #FFFFFF;

// Miami Heat
$HeatRed: #98002E;
$HeatYellow: #F9A01B;
$HeatBlack: #000000;

// Atlanta Hawks
$HawksRed: #E03A3E;
$HawksVoltGreen: #C1D32F;
$HawksCharcoal: #26282A;

// Wizards
$WizardsBlue: #002B5C;
$WizardsRed: #E31837;
$WizardsSilver: #C4CED4;

// Orlando Magic
$MagicBlue: #0077C0;
$MagicSilver: #C4CED4;
$MagicBlack: #000000;

// Charlotte Hornets
$HornetsBlue: #1D1160;
$HornetsTeal: #00788C;
$HornetsGrey: #A1A1A4;

// Boston Celtics
$CelticsGreen: #007A33;
$CelticsGold: #BA9653;
$CelticsBrown: #963821;
$CelticsBeige: #E59E6D;
$CelticsBlack: #000000;

// Toronto Raptors
$RaptorsRed: #CE1141;
$RaptorsBlack: #000000;
$RaptorsSilver: #A1A1A4;
$RaptorsGold: #B4975A;

// Philadelphia 76ers
$PhillyBlue: #006BB6;
$PhillyRed: #ED174C;
$PhillyNavy: #002B5C;
$PillySilver: #C4CED4;

// Brooklyn Nets
$NetsBlack: #000000;
$NetsWhite: #FFFFFF;

// NY Knicks
$KnicksBlue: #006BB6;
$KnicksOrange: #F58426;
$KnicksSilver: #BEC0C2;
$KnicksBlack: #000000;