@use '../../partials/globals' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.reel {
  // background-color: rgba($color: #000000, $alpha: 0.75);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: auto;
  box-sizing: border-box;
  align-items: center;

  &__bar {
    width: 90%;
    height: 10px;
    border-radius: 10px;
    background-color: silver;
    margin: 66px 20px 0 20px;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  &__progress {
    width: 66%;
    height: 100%;
    border-radius: 10px;
    background-color: $HeatYellow;
  }

  &__reelPlaceholder {
    object-fit: fill;
    overflow: hidden;
    position: relative;
    height: 109%;
  }

  &__placeholderBack {
    // width: 50px;
    background-color: transparent;
    border-style: none;
    // height: 50px;
    // background-color: red;
    position: absolute;
    left: 32px;
    top: 500px;
    z-index: 2;
  }

  &__button {
    position: absolute;
    top: 83%;
    height: 64px;
    width: 150px;
    margin: 24px 32px 0 32px;
    border-radius: 11px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @include button;
  }

  &__div {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  &__backButton {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 106px;
    left: 32px;
    z-index: 3;
  }
}